/*
*, ::before, ::after {
    box-sizing: border-box;
}
*/
.div4_parent_container {
    background: linear-gradient(180deg,#09070c 22%,#201335 100%);
    padding-top: 48px;
    padding-bottom: 48px;
}
.div4_container {
    padding: 48px 24px;
    min-height: auto;
}
.div4 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Kanit', sans-serif;
    padding: 48px 24px;
}
.div4_png1 {
    width: 48px;
    height: 48px;
    margin-bottom: 24px;
}

#div4_text1 {
    font-size: 40px;
    font-weight: 600;
    line-height: 1.1;
    color: #F4EEFF;
    text-align: center;
    margin: 0px;
    }
#div4_text2 {
    font-size: 40px;
    font-weight: 600;
    color: #F4EEFF;
    margin: 0px 0px 32px;
    line-height: 1.1;
    text-align: center;
}
#div4_text3 {
    font-size: 16px;
    font-weight: 400;
    color: #b8add2;
    line-height: 1.5;
    text-align: center;
    vertical-align: baseline;
}
#div4_text4 {
    font-size: 16px;
    font-weight: 400;
    color: #b8add2;
    margin: 0px 0px 20px;
    line-height: 1.5;
    text-align: center;
    vertical-align: baseline;
    flex-wrap: wrap;
    display: inline;
}
#div4_text5 {
    font-size: 16px;
    font-weight: 600;
    color: #b8add2;
    margin: 0px 0px 20px;
    line-height: 1.5;
    text-align: center;
    vertical-align: baseline;
    flex-wrap: wrap;
}
.div4_triplebox {
    flex-direction: row;
}